/* RESET CSS */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  /* COLORS */
  --dark-magenta: hsl(300, 43%, 22%);
  --dark-grayish-magenta: hsl(303, 10%, 53%);
  --light-grayish-magenta: hsl(300, 24%, 96%);
  --soft-pink: hsl(333, 80%, 67%);
  --white: hsl(0, 0%, 100%);

  /* FONTS */
  --body-copy: 15px;
  --spartan-font: "Spartan", sans-serif;
}

body {
  width: 100vw;
  height: 100vh;
  font-family: var(--spartan-font);
  font-size: var(--body-copy);
  font-weight: 400;
  line-height: 1.7;
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-image: url("../images/bg-pattern-top-desktop.svg");
  background-size: cover;
  background-position: top;
  background-repeat: no-repeat;
}

/* SOCIAL SECTION */
.social {
  width: 100%;
}

.social__inner {
  max-width: 1440px;
  padding: 150px 110px 50px 110px;
  margin: auto;
  display: flex;
  justify-content: space-between;
}

.social__stats {
  width: 45%;
}

.social__stats__title h1 {
  font-size: 3.33rem;
  font-weight: 700;
  margin-bottom: 1rem;
  letter-spacing: 2px;
  line-height: 3rem;
  color: var(--dark-magenta);
}

.social__stats__content p {
  font-size: 1.06rem;
  color: var(--dark-grayish-magenta);
}

.social__ratings {
  width: 45%;
}

.social__rating {
  max-width: 450px;
  background: var(--light-grayish-magenta);
  margin-bottom: 1rem;
  border-radius: 6px;
  padding: 1rem 2rem;
  display: flex;
  align-items: center;
}

.social__rating span {
  display: block;
  margin-right: 1.5rem;
}

.social__rating > p {
  font-weight: 700;
  color: var(--dark-magenta);
}

.reports {
  margin-left: 2.5rem;
}

.best-tech {
  margin-left: 5rem;
}

/* TESTIMONIALS */
.testimonials {
  width: 100%;
}

.testimonials__inner {
  max-width: 1440px;
  padding: 0px 100px 100px 100px;
  margin: auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.testimonials__card {
  max-width: 400px;
  background: var(--dark-magenta);
  color: var(--white);
  padding: 3rem 2rem;
  border-radius: 8px;
}

.testimonials__card__header {
  display: flex;
}

.testimonials__card__body p {
  color: var(--light-grayish-magenta);
  opacity: 0.8;
}

.card__image {
  margin-right: 2rem;
  width: 80px;
  margin-bottom: 2rem;
}

.card__image img {
  border-radius: 50%;
  width: 100%;
}

.card__details h3 {
  font-size: 1rem;
  font-weight: 500;
}

.card__details h4 {
  font-size: 1rem;
  font-weight: 400;
  letter-spacing: 1px;
  color: hsl(333, 73%, 67%);
}

.anne {
  margin-top: 5rem;
}

.irene {
  margin-top: 2.5rem;
}

/* ATTRIBUTION SECTION */
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

@media (max-width: 450px) {
  body {
    background-image: url("../images/bg-pattern-top-mobile.svg");
    height: 100%;
    width: 100%;
  }

  .social__inner {
    max-width: 100%;
    flex-direction: column;
    padding: 100px 1rem 50px 1rem;
  }
  .social__stats {
    width: 100%;
    text-align: center;
    margin-bottom: 3rem;
  }

  .social__stats__title h1 {
    font-size: 2.2rem;
    letter-spacing: 0;
    padding: 0 32px;
    text-align: center;
  }

  .social__ratings {
    width: 100%;
  }

  .social__rating {
    flex-direction: column;
  }

  .reports, .best-tech {
    margin-left: 0;
  }

  .testimonials {
    width: 100%;
  }

  .testimonials__inner {
    flex-direction: column;
    padding: 0 1rem 50px 1rem;
  }

  .testimonials__card {
    min-width: 100%;
    padding: 2rem 1rem;
  }

  .anne, .irene {
    margin-top: 1rem;
  }
}
