@import url('https://fonts.googleapis.com/css2?family=Spartan:wght@400;500;700&display=swap');

*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

html {
  font-size: 62.5%; // 1rem = 10px
  box-sizing: border-box;
  font-family: 'Spartan', sans-serif;
}

body {
  background-color: white;
  background: url(../../images/bg-pattern-top-desktop.svg) left top no-repeat, url(../../images/bg-pattern-bottom-desktop.svg) bottom right no-repeat;
  background-size: fixed;
  // background-repeat: no-repeat;

  color: var(--very-dark-magenta);
  font-size: var(--body-text);
}