.home {
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  column-gap: 2rem;
  grid-template-areas:
    "sp sp sp sp sp sp sp sp sp sp sp sp"
    "rw rw rw rw rw rw rw rw rw rw rw rw"
    "at at at at at at at at at at at at";

  @include respond(tablet) {
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas:
      "sp sp sp sp"
      "rw rw rw rw"
      "at at at at";
  }

  @include respond(smallphone) {
    grid-template-columns: repeat(2, 1fr);

    grid-template-areas:
      "sp sp"
      "rw rw"
      "at at";
  }

  position: relative;
  padding: 10rem 2rem 0 2rem;
  max-width: 1200px;
  margin: 0 auto;
}

/* For development purposes, displays a grid on my screen */
#grid {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  min-height: 100vh;
  background: transparent;
  padding: 0 2rem;

  // display: none;
  display: grid;
  grid-template-columns: repeat(12, 1fr);
  grid-auto-rows: minmax(100%, auto);
  column-gap: 2rem;

  @include respond(tablet) {
    grid-template-columns: repeat(4, 1fr);
  }

  @include respond(smallphone) {
    grid-template-columns: repeat(2, 1fr);
  }
}

#grid p {
  border: 1px solid;
  background: #000;
  opacity: 0.13;
}
/* End */

.social-proof {
  grid-area: sp;

  &__inner {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    align-items: start;

    @include respond(phone) {
      grid-template-columns: auto;
      gap: 4rem;
    }
  }

  &__content {
    width: 80%;

    @include respond(desktop-md) {
      width: 100%;
    }

    @include respond(phone) {
      text-align: center;
    }
  }

  &__title {
    font-size: 6rem;
    font-weight: 700;
    margin-bottom: 1rem;
    line-height: 1;

    @include respond(phone) {
      font-size: 4rem;
      margin-bottom: 2rem;
    }
  }

  &__paragraph {
    font-size: 1.5rem;
    font-weight: 400;
    line-height: 1.7;
    color: var(--dark-grayish-magenta);
  }

  &__ratings {
  }

  &__rating {
    display: flex;

    max-width: 40rem;
    padding: 2rem;
    border-radius: 5px;

    @include respond(phone) {
      flex-direction: column;
      align-items: center;
      max-width: 100%;
    }

    &:not(:last-of-type) {
      margin-bottom: 2rem;
    }

    background-color: var(--light-grayish-magenta);

    &--guru {
      margin-left: auto;
      margin-right: auto;

      @include respond(phone) {
        margin-left: 0;
        margin-right: 0;
      }
    }

    &--best-tech {
      margin-left: auto;

      @include respond(phone) {
        margin-left: 0;
      }
    }
  }

  &__rate-review {
    margin-left: 2rem;
    font-weight: 700;

    @include respond(phone) {
      margin-top: 1rem;
    }
  }
}

.testimonials {
  grid-area: rw;

  margin-top: 10rem;

  &__inner {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: minmax(28rem, 1fr);

    @include respond(phone) {
      grid-template-columns: 1fr;
      grid-auto-rows: auto;
    }
    gap: 3rem;
  }
}

.card {
  background-color: var(--very-dark-magenta);
  color: var(--light-grayish-magenta);
  padding: 3rem 4rem;
  border-radius: 5px;

  &--colton {
    align-self: start;

    @include respond(phone) {
      align-self: start;
    }
  }

  &--irene {
    align-self: center;

    @include respond(phone) {
      align-self: start;
    }
  }

  &--anne {
    align-self: end;

    @include respond(phone) {
      align-self: start;
    }
  }

  &__head {
    display: grid;
    grid-template-columns: 5rem 1fr;
    column-gap: 2rem;
    align-items: center;

    margin-bottom: 3rem;
  }

  &__body {
    & p {
      line-height: 1.6;
    }
  }
}

.profile {
  &__img {
    width: 100%;
    height: auto;
    border-radius: 50%;
    object-fit: cover;
  }

  &__name {
    font-size: 1.6rem;
    font-weight: 500;
    margin-bottom: 0.5rem;
  }

  &__status {
    color: var(--soft-pink);
    font-weight: 300;
  }
}

.attribution {
  grid-area: at;
  padding-bottom: 2rem;

  text-align: center;
  margin-top: 5rem;
}